Request Header cookie parsing doesn't follow RFC 7540 spec

Only the first cookie in a header gets parsed. but multiple "cookie" headers may be sent and the server should concatenate them per [RFC 7540](https://datatracker.ietf.org/doc/html/rfc7540)

```
...
   If there are multiple Cookie header fields after
   decompression, these MUST be concatenated into a single octet string
   using the two-octet delimiter of 0x3B, 0x20 (the ASCII string "; ")
   before being passed into a non-HTTP/2 context, such as an HTTP/1.1
   connection, or a generic HTTP server application.

   Therefore, the following two lists of Cookie header fields are
   semantically equivalent.

     cookie: a=b; c=d; e=f

     cookie: a=b
     cookie: c=d
     cookie: e=f
```

The issue lies here
https://github.com/encode/starlette/blob/6ee94f2cac955eeae68d2898a8dec8cf17b48736/starlette/requests.py#L143

---

- [ ] Initially raised as discussion #2916 


It seems we need to use `getlist` instead there. Weird that I didn't see this before.

It seems the code we have was inspired by Django 3.1.0, so maybe we can check if Django changed something.

Hi, I’d like to work on this issue.

From my understanding, the fix would involve updating


`cookie_header = self.headers.get("cookie")`
to use self.headers.getlist("cookie"), and then concatenating the values with "; " in accordance with RFC 7540 §8.1.2.5.

I can also add a test case to cover scenarios where multiple Cookie headers are sent, ensuring the concatenated form matches expectations.

Please let me know if this approach sounds good before I proceed.