Bug confirmed.

Thanks for the PR, but I think we'd want to opt for the same strategy as other web frameworks, i.e. just quote it. 

You can see how Flask does here: https://github.com/pallets/werkzeug/blob/347fdbb055c86efe1fd49546bd524cde4b98c103/src/werkzeug/_internal.py#L327-L338

Note: Not really sure about what I said.

> Bug confirmed.
> 
> Thanks for the PR, but I think we'd want to opt for the same strategy as other web frameworks, i.e. just quote it.
> 
> You can see how Flask does here: https://github.com/pallets/werkzeug/blob/347fdbb055c86efe1fd49546bd524cde4b98c103/src/werkzeug/_internal.py#L327-L338
> 
> Note: Not really sure about what I said.

 The current cookie format is very close to [RFC 7515](https://www.rfc-editor.org/rfc/rfc7515.txt), the only issue seeming to be the "=" sign.
[RFC 7515](https://www.rfc-editor.org/rfc/rfc7515.txt) Appendix C suggests using data.split('=')[0] - 

SessionMiddleware can only possibly create malformed cookies with an equal, what do you think?

According to [RFC 7515 Sections 3](https://www.rfc-editor.org/rfc/rfc7515#section-3):

> In both serializations, the JWS Protected Header, JWS Payload, and JWS
   Signature are base64url encoded, since JSON lacks a way to directly
   represent arbitrary octet sequences.

with Base64url Encoding defined in Section 2 as:

>    Base64 encoding using the URL- and filename-safe character set
      defined in [Section 5 of RFC 4648](https://www.rfc-editor.org/rfc/rfc4648#section-5) [[RFC4648](https://www.rfc-editor.org/rfc/rfc4648)], **with all trailing '='
      characters omitted** (as permitted by [Section 3.2](https://www.rfc-editor.org/rfc/rfc7515#section-3.2)) and without the
      inclusion of any line breaks, whitespace, or other additional
      characters.  Note that the base64url encoding of the empty octet
      sequence is the empty string.  (See [Appendix C](https://www.rfc-editor.org/rfc/rfc7515#appendix-C) for notes on
      implementing base64url encoding without padding.)

(emphasis mine)

To match the RFC, shouldn't Starlette use Python's `base64.urlsafe_b64encode` instead of `base64.b64encode`?

It appears `base64.urlsafe_b64encode` also pads with `=` at the end, and cannot decode content if it's missing, so that wouldn't work.

@Kludex Do you have any thoughts on the PR I submitted for this issue?

The whole discussion here is about "how to not have an equal sign on the token", but I can't actually reproduce what the OP said: "the browser ignores the rest of the token".

I'll close this issue, since I can't reproduce. Also, given the time this issue exists, if this was really a problem, I would have expected more reactions.

If someone can show me a browser that does what the OP reported, we can reopen this.